dist: bionic
language: node_js
node_js:
  - 15.1.0
os: linux
before_install:
  - curl -L https://raw.githubusercontent.com/pnpm/self-installer/master/install.js | PNPM_VERSION=5.10.4 node
  - pnpm config set store-dir ~/.pnpm-store
  - pnpm --version
install:
  - pnpm --recursive install
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - pnpm --recursive run test
after_success:
  - pnpm --recursive run coverage
  - cd sources/front-end && ../../cc-test-reporter format-coverage -t lcov&& cd ../..
  - cd sources/front-end && ../../cc-test-reporter after-build --exit-code $? && cd ../..
cache:
  npm: false
  directories:
    - "~/.pnpm-store"
